:root {
    --text-box-green: 145 79% 43%;
    --text-box-green-light: 140 69% 67%;
    --text-box-red: 348 100% 58%;
    --text-box-yellow: 38 100% 60%;
    --text-box-yellow-light: 43 89% 68%;
    --text-box-black: 214 1% 39%;
    --text-box-blue: 214 80% 60%;
    --text-box-disabled: 220 8% 45%;

    --text-box-opacity: 0.2;
}
